$primary-color: #f0541b;
$secondary-color: #03a9f4;

// $tertiary-color:#9DC2ED;
// $quaternary-color:#6A9CD6;
// $quintiary-color:#ece0ae;
// Background

$bg-body: #f3f3f3;
$bg-header: transparent;
$bg-page: #f2f5fa;
$grey-color: #999;
$lightgrey-color: #ededed; //color:lightness($base-color);
//color:darken($base-color, 10%);